<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../../styles/emails/styles.css" data-inline />
  </head>
  <body bgcolor="#000000">
    <table
      width="100%"
      bgcolor="#000000"
      border="0"
      cellpadding="8"
      cellspacing="0"
    >
      <tr class="margin-row"></tr>
      <tr class="margin-row"></tr>
      <tr>
        <td></td>
        <td>
          <table
            class="content"
            align="center"
            cellpadding="16"
            cellspacing="0"
            border="0"
            bgcolor="#ffffff"
          >
            <tr>
              <td class="header">
                Words
              </td>
            </tr>
            <tr>
              <td>
                <p><%= `${t("Hi")} ${name},` %></p>
                <p>
                  <%=
                    t(
                      "A login for your account was requested. If you want to login to the app, " +
                      "click on the following button on your phone"
                    )
                  %>
                </p>

                <table align="center">
                  <tr>
                    <td>
                      <a class="button" href="words://login/<%= authenticationToken %>">
                        <%= t("Login") %>
                      </a>
                    </td>
                  </tr>
                </table>
                <p>
                  <%= t("See you soon") %>
                </p>
                <p>
                  <%= t("Your words team") %>
                </p>
              </td>
            </tr>
            <tr class="margin-row"></tr>
          </table>
        </td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
